@font-face {
  font-family: "GTRones";
  src: url("/src/assets/GameofThronesKG.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe Print";
  src: url("/src/assets/SegoePrint.ttf") format("truetype");
}